<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879733206767-jvqdkqddder72kuhm0h1k3p7fbspu2f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879733206767-jvqdkqddder72kuhm0h1k3p7fbspu2f2</string>
	<key>API_KEY</key>
	<string>AIzaSyC3YtWEvpfsFo-emYf6R4RIyquI3C_KcpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>879733206767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jackson-wiese.firebase-access</string>
	<key>PROJECT_ID</key>
	<string>fir-access-14cc8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-access-14cc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879733206767:ios:d4b68768143cc16de5f51a</string>
</dict>
</plist>